/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedor {
    height: 100vh;
    display: flex;
    width: 90%;
    max-width: 1200px;
    background-color: #222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Estilos del video */
.logo-animado {
    display: block;
    margin: 10px auto; /* Centra el video horizontalmente y agrega margen superior */
    max-width: 100%;
}

/* Estilos de la barra de navegación en la izquierda */
#barra-izquierda {
    flex: 1;
    padding: 20px;
    background-color: #333;
}

#barra-izquierda ul {
    list-style: none;
    padding: 0;
}

#barra-izquierda li {
    margin-bottom: 10px;
}

#barra-izquierda a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#barra-izquierda a:hover {
    color: #00ffcc;
}


.barra-izquierda ul li:hover {
    background-color: #444; 
}


main {
    flex: 2;
    padding: 20px;
    text-align: center;
}

#seccion-futurista {
    background-image: url('futuristic-background.jpg'); 
    padding: 100px;
}

#seccion-futurista h2 {
    font-size: 2.5em;
    color: #00ffcc;
}

#seccion-futurista p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #fff;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ffcc;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.boton:hover {
    background-color: #222;
}

.tabla-chocolates {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 15% 30% 15%;
    grid-template-rows: repeat(3);
    grid-gap:1em;
}

.tabla-chocolates > div{
    background-color: lightgray;
    color: white;
    font-size: 4em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

/* Estilos de la barra lateral derecha */
#barra-derecha {
    flex: 1;
    padding: 20px;
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.inicio-sesion-usuario {
    margin-bottom: 20px;
    /* Agrega estilos para el formulario de inicio de sesión */
}

.ultimas-entradas {
    /* Agrega estilos para mostrar los últimos posts */
}

#claro{
    background-image: url("imagenes/s1.png");
    background-size: cover; /* Para ajustar la imagen al tamaño del botón */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    border: none; /* Para quitar el borde predeterminado */
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

#claro:hover{
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

#oscuro{
    background-image: url("imagenes/l1.png");
    background-size: cover; /* Para ajustar la imagen al tamaño del botón */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    border: none; /* Para quitar el borde predeterminado */
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;

}



  @media(max-width: 600px) {
    #contenedor{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20% 80%;
        grid-template-areas:
            "nav nav login login"
            "main main main main"            
    }

    main{
        grid-area: main;
    }

    #barra-izquierda{
        grid-area: nav;
    }

    #barra-derecha{
        grid-area: login;
    }

    .tabla-chocolates {
        width: 100%;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(6);
        grid-gap:1em;
    }

  }

    @media(max-width: 600px) {
    #contenedor{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20% 80%;
        grid-template-areas:
            "login login login login"
            "nav nav nav nav"
            "main main main main"            
    }

    main{
        grid-area: main;
    }

    #barra-izquierda{
        grid-area: nav;
    }

    #barra-derecha{
        grid-area: login;
    }

    .tabla-chocolates {
        width: 100%;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(6);
        grid-gap:1em;
    }

  }


