/* Reset de estilos y estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Estilos del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
#contenedor {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 88% 12%;
    grid-template-areas:
        "nav main login"
        "foo foo foo";
    width: 90%;
    max-width: 1200px;
    background-color: #222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Estilos del logotipo animado */
.logo-animado {
    display: grid;
    margin: 10px auto;
    max-width: 100%;
}

/* Barra de navegación izquierda */
#barra-izquierda {
    grid-area: nav;
    flex: 1;
    padding: 10px;
    background-color: #333;
    height: 100vh;

}

#barra-izquierda ul {
    list-style: none;
    padding: 0;
}

#barra-izquierda li {
    margin-bottom: 10px;
}

#barra-izquierda a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#barra-izquierda a:hover {
    color: #00ffcc;
}

.barra-izquierda ul li:hover {
    background-color: #444;
}

/* Área principal */
main {
    grid-area: main;
    flex: 4;
    padding: 20px;
    text-align: center;
    min-height: calc(100vh - 160px);
    overflow-y:auto;


}

/* Selección de botones y opciones */
#seleccionBotones {
    display: grid;
    grid-template-columns: 1fr fr 1fr 1fr;
    grid-template-areas: "botones c cont radio";
    gap: 10px;
    /* Agregamos un espacio entre los elementos */
    padding: 10px;
    /* Agregamos espacio dentro del contenedor */
}

#botones {
    grid-area: botones;
}

#opciones {
    grid-area: radio;
    justify-items: start;
}

/* Tabla de chocolates */
.tabla-chocolates {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    width: 80%;
    /* Ajustado para mantener el mismo ancho */
    height: 70%;
    /* Ajustado para mantener el mismo alto */
    margin: 0 auto;
    background-color: #222;
    border: 2px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.tabla-chocolates>div {
    background-color: #6c757d;
    border: .2em solid #52575c;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7;
    font-weight: bold;
}

/* Estilos de la barra lateral derecha */
#barra-derecha {
    grid-area: login;
    flex: 1;
    padding: 1em;
    background-color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Animación del mensaje */
#mensaje {
    animation: parpadeo 1s infinite;
    font-size: 1.5em;
}

@keyframes parpadeo {

    0%,
    100% {
        color: red;
    }

    50% {
        color: black;
    }
}

/* Modo de fondo y botones de cambio de tema */
#modoFondo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#claro {
    background-image: url("imagenes/s1.png");
    background-size: cover;
    width: 3em;
    height: 3em;
    border: none;
    cursor: pointer;
    margin: 1em;
    padding: 1.6em;
    border-radius: 1em;
}

#oscuro {
    background-image: url("imagenes/l1.png");
    background-size: cover;
    width: 3em;
    height: 3em;
    border: none;
    cursor: pointer;
    margin: 1em;
    padding: 1.6em;
    border-radius: 1em;
}

#claro:hover,
#oscuro:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Estilos para botones generales */
#botones>button {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    cursor: pointer;
}

/* Chocolate */
#chocolate {
    background-image: url("imagenes/cn.png");
    background-size: cover;
    width: 10em;
    height: 10em;
    grid-area: c;
    transition: transform 3s ease-in-out;
	position: relative;
}

/* Pie de página y redes sociales */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    grid-area: foo;
    max-width: 1200px;
    position: fixed;
    bottom: 0;
}

#redesSociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.social-icon {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Botón Continuar */
.bContinuar {
    grid-area: cont;
    background-image: url("imagenes/bc.png");
    background-size: cover;
    padding: 1em;
    border-radius: 10px;
    width: 45px;
    /* Cambiado el ancho del botón */
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: greenyellow;

}



/* Estilos para pantallas pequeñas */
@media (max-width: 1000px) {
    #contenedor {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas:
            "nav nav login login"
            "main main main main"
            "foo foo foo foo";
    }



    .logo-animado {
        max-width: 30%;
    }

    #chocolate {
        transform: scale(0.8);
    }
	body #contenedor #miGrafico {
        display: none !important;
    }
}

@media (max-width: 600px) {
    #contenedor {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 5% 1fr 5%; /* Ajuste aquí */
        grid-template-areas:
            "login login"
            "nav nav"
            "main main"
            "foo foo";
            
    }



	body #contenedor #miGrafico {
        display: none !important;
    }

    .logo-animado {
        max-width: 10%;
    }

    #chocolate {
        transform: scale(0.5);
    }


  
}